@import "../LoginPage.scss";

.section-1 {
    background-color: #27ae60;
    color: White;
    width: 100vw;
    display: grid;
    align-content: center;
    justify-items: center;
    @include bp("phone") {
        height: 20vh;
    }
    @include bp("tablet") {
        height: 100vh;
    }

    .logo-container {
        display: flex;
        align-items: center;

        img {
            @include bp("phone") {
                height: 12vw;
            }
            @include bp("tablet") {
                height: 8vw;
            }
        }
        p {
            font-family: 'Open Sans', sans-serif;

            @include bp("phone") {
                font-size: 10vw;
            }
            @include bp("tablet") {
                font-size: 4vw;
            }
        }
    }

    h3 {
        margin: 0;
        font-family: 'Open Sans', sans-serif;
        font-weight: 500;
        @include bp("phone") {
            font-size: 5vw;
        }
        @include bp("tablet") {
            font-size: 2.3vw;
        }
    }
}
