@import "../MediaQuery.scss";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
body {
    background-color: white;
    margin: auto;
    // text-align: center;
}

// div {
// 	width: 100%;
// 	// color: white;
// 	// padding: 1em 0;
// }

.App {
    display: flex;

    @include bp("phone") {
        flex-direction: column;
    }
    @include bp("tablet") {
        flex-direction: row;
    }
}
