@import '../App/App.scss';

.App{
    .edit-task{
        background-color: indianred;
        @include bp("phone") {
            width: 100vw;
            height: 90vh;
        }
        @include bp("tablet") {
            width: 85vw;
            height: 100vh;
        }
    }
}