@import "../LoginPage.scss";

.section-2 {
    background-color: white;
    display: grid;
    align-content: center;
    justify-items: center;
    width: 100vw;
    @include bp("phone") {
        height: 50vh;
    }
    @include bp("tablet") {
        height: 100vh;
    }
    .login-container {
        text-align: center;
        width: 100%;
        height: 60vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h1 {
            font-family: "Open Sans", sans-serif;
            font-weight: 600;
            @include bp("phone") {
                font-size: 4vh;
            }
            @include bp("tablet") {
                font-size: 4.5vh;
            }
        }
        form {
            @include bp("phone") {
                font-size: 1rem;
            }
            @include bp("tablet") {
                font-size: large;
            }
            @include bp("phone") {
                width: 65vw;
            }
            @include bp("tablet") {
                width: 42vw;
            }
            @include bp("laptop") {
                width: 25vw;
            }

            display: flex;
            flex-direction: column;
            input {
                height: 3.5rem;
            }
        }
        .ui.form input {
            background-color: #f2f2f2;
        }
        .ui.form button {
            font-size: large;
            height: 3.5rem;
        }
        
    }
}
