@import '../App/App.scss';

.App{
    .create-task{
        @include bp("phone") {
            width: 100vw;
            height: 90vh;
        }
        @include bp("tablet") {
            width: 85vw;
            height: 100vh;

        }
        .checkbox-container{
            background-color: lightblue;
            display: flex;
            width: auto;

            @include bp("phone"){
                flex-direction: column;
            }
            @include bp("tablet"){
                flex-direction: row;
            }
            
        }
    }
}