@import '../App/App.scss';
.App{
    .side-bar{
        background-color: lawngreen;
        @include bp("phone") {
            width: 100vw;
            height: 10vh;
        }
        @include bp("tablet") {
            width: 15vw;
            height: auto;
    
        }
        .side-bar-content{
            position: fixed;
            background-color: yellow;
            display: flex;
            justify-content: space-between;
            z-index: 10;
            @include bp("phone"){
                width: 100vw;
                flex-direction: row;
                height: auto;
            }
            @include bp("tablet"){
                width: 14vw;
                flex-direction: column;
                height: 100vh;


            }
            .profile-container{
                background-color: blue;
                overflow-wrap: anywhere;
                height:  fit-content;
                display: flex;
                align-items: center;

                @include bp("phone"){
                    flex-direction: row;
                }
                @include bp("tablet"){
                    flex-direction:column;
                }
                @include bp("laptop"){
                    flex-direction:row;
                }
                img{
                    margin: 0.2rem;
                    border-radius: 100%;
                }
            }
            .analytics-container{
                cursor: pointer;
                background-color: pink;
                @include bp("phone"){
                    align-self: center;
                }
                @include bp("tablet"){
                    align-self: flex-start;
                }
            }
            .lgout-container{
                background-color: rebeccapurple;
                cursor: pointer;
                @include bp("phone"){
                    align-self: center;
                }
                @include bp("tablet"){
                    align-self: flex-start;
                }
            }
        }
  
    }
}