@import '../App/App.scss';
.App{
    .side-bar{

        background-color: #ffffff;
        @include bp("phone") {
            width: 100vw;
            height: 10vh;
        }
        @include bp("tablet") {
            width: 15vw;
            height: auto;
    
        }
        .side-bar-content{
        // border-right:solid black 1px;
        // border-bottom:solid black 1px;

            position: fixed;
            background-color: #c3d6c8;
            display: flex;
            justify-content: space-between;
            z-index: 10;
            @include bp("phone"){
                width: 100vw;
                flex-direction: row;
                height: auto;
            }
            @include bp("tablet"){
                width: 14vw;
                flex-direction: column;
                height: 100vh;


            }
            .profile-container{

                
                overflow-wrap: anywhere;
                height:  fit-content;
                display: flex;
                align-items: center;

                @include bp("phone"){
                    flex-direction: row;
                }
                @include bp("tablet"){
                    flex-direction:column;
                }
                @include bp("laptop"){
                    flex-direction:row;
                }
                img{
                    margin: 0.2rem;
                    border-radius: 100%;
                }
            }
            .sidebar-actions{
                
                font-size: 1.1rem;
                

                display: flex;
                @include bp("phone"){
                    flex-direction: row;
                color: white;

                }
                @include bp("tablet"){
                    flex-direction:column;
                color: white;


                }
                .tasktype-container{
                    display: flex;
                    justify-content: space-evenly;
                    @include bp("phone"){
                        flex-direction: row;
                    }
                    @include bp("tablet"){
                        flex-direction:column;
                    }
                    @include bp("laptop"){
                        flex-direction:row;
                    }
                }
                .analytics-container{
                    align-self: center;
                    text-align: center;
                    cursor: pointer;
                    @include bp("phone"){
                        width: auto;
                    }
                    @include bp("tablet"){
                        width: 92%;
                    }
            
                    @include bp("laptop"){
                        width: 75%;
                    }

                    // width: 10vw;

                    border-radius: 0.5rem;
                    padding: 0.5vw;
                    margin:0.5vw;
                    background-color: #f2c94c;
                }
            }
            
            .logout-container{
                cursor: pointer;
                @include bp("phone"){
                    align-self: center;
                }
                @include bp("tablet"){
                    align-self: flex-start;
                }
            }
        }
  
    }
}