@import '../App/App.scss';
.App{
    .dashboard{
        // background-color: pink;
        @include bp("phone") {
            width: 100vw;
            height: 90vh;
        }
        @include bp("tablet") {
            width: 85vw;
            height: 100vh;
        }
        .top-row{
            display: flex;
            align-items:center;
            justify-content: space-between;
            
            height: auto;
            
            @include bp("phone") {
                flex-direction:column;
            }
            @include bp("tablet") {
                flex-direction:row;
            }
            input{
                margin: 0rem;
                padding: 0%;
                height: 2.7rem;
            }
            button.positive.ui.button{
                @include bp("phone"){
                    width: 18.5rem;

                }
                @include bp("tablet") {
                    width: max-content;
                }

            }
       
            .ui.search{
                @include bp("phone"){
                    width: 19rem;

                }
                @include bp("tablet") {
                    width: 75%;
                }
            }
        }
        .tasks-container{
            background-color: royalblue;
            display: flex;
            justify-content: space-around;            

            @include bp("phone"){
                flex-direction: column;
                align-items: center;
            }
            @include bp("laptop") {
                flex-direction: row;
                align-items: flex-start ;

            }

        }
    }
}
